@font-face {
    font-family: 'customFont';
    src: url('../fonts/CorporativeSansAlt-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    --primary_blue: #2986CC;
    --secondary_blue : #144366;
    --error_red : #CC0000;
    --error_lightred: #E99393;

    font-family: 'customFont', sans-serif;
}

.main_div{
    background: rgb(41,134,204);
    background: -moz-linear-gradient(90deg, var(--primary_blue) 0%, var(--secondary_blue) 100%);
    background: -webkit-linear-gradient(90deg, var(--primary_blue) 0%, var(--secondary_blue) 100%);
    background: linear-gradient(90deg, var(--primary_blue) 0%, var(--secondary_blue) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2986cc",endColorstr="#144366",GradientType=1);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Track */
::-webkit-scrollbar {
    width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #A9CEEA;
}

.redirect_start{
    position: absolute;
    top: 0;
    padding: 0;
}
.redirect_start a{
    color: rgba(255, 255, 255, .4);
    text-decoration: none;
    font-weight: bold;
    background: rgba(0, 0, 0, .4);
    color: rgba(255, 255, 255, .4);
    padding: 12px 40px 15px 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redirect_start:hover a{
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    background: rgba(255, 255, 255, .5);
}

