.user_info_container{
    background: white;
    width: 800px;
    height: 650px;
    border-radius: 20px;
    padding: 20px 40px;
}
.user_info_content_div{
    display: grid;
    justify-content: center;
}
.user_info_content_heading{
    padding: 50px 0 0 0;
    text-align: center;
}
.user_info_content_heading h1{
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.API_link{
    background: var(--primary_blue);
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}
.API_link:hover{
    background: var(--secondary_blue);
    cursor: pointer;
}
.user_info_content{
    height: 420px;
    position: relative;
    width: 600px;
    display: grid;
}
.user_info_inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0 0 0;
    gap: 20px;
}
.user_info_inputs_left{
}
.user_info_inputs_left .login_input{
    margin: 15px 0;
    display: block;
    width: 100%;
}
.user_info_inputs_left .login_input_error{
    margin: 15px 0;
    display: block;
    width: 100%;
}

.user_info_inputs_right{
}
.user_info_inputs_right .login_input{
    margin: 15px 0;
    display: block;
    width: 100%;
}
.user_info_btn_div{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.user_info_btn{
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background: var(--primary_blue);
    font-size: 20px;
    padding: 10px;
    letter-spacing: 2px;
}
.user_info_btn:hover{
    background: var(--secondary_blue);
    cursor: pointer;
}
.promote_to_admin{
    position: absolute;
    right: 0;
    bottom: 7px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: var(--primary_blue);
    color: white;
    letter-spacing: 1px;
}
.promote_to_admin:hover{
    background: var(--secondary_blue);
    cursor: pointer;
}
.user_info_btn:disabled{
    background: rgba(0, 0, 0, .35);
    cursor: default;
}

.delete_div{
    width: 100%;
}
.delete_btn{
    background: var(--error_lightred);
    border: none;
    outline: none;
    padding: 10px 20px;
    width: 100%;
    color: rgba(0, 0, 0, .5);
    letter-spacing: 1px;
    border-radius: 10px;
    font-weight: bold;
}
.delete_btn:hover{
    background: var(--error_red);
    cursor: pointer;
    color: white;
}